# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.env
db.sqlite3

# Django
staticfiles/
media/

# Webpack
node_modules/
baseapp/webpack-dist/
baseapp/static/dist/
baseapp/static/js/
*.bundle.js
*.bundle.js.map
*.bundle.js.LICENSE.txt

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db



baseapp/migrations/
node_modules/
baseapp/migrations/
media/assessment_reports/